<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }}</title>
</head>
<body>
    <h1>{{ data.content }}</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    
    <form method="post" action="/" enctype="multipart/form-data">
        <label for="archivo">Subir archivo XML:</label>
        <input type="file" name="archivo" id="archivo" accept=".xml">
        <button type="submit">Cargar</button>
    </form>

    <form method="post" action="/seleccionar-maquina">
        <label for="maquina">Seleccionar Máquina:</label>
        <select name="maquina" id="maquina" onchange="this.form.submit()">
            <option value="">Seleccione una máquina</option>
            {{ maquinas_html | safe }}
        </select>
    </form>

    <!-- Aquí mostrarás la información de la máquina seleccionada -->
    {% if tiempo_ensamblaje is not none %}
    <div>
        <h2>Información de la Máquina</h2>
        <p><strong>Tiempo de Ensamblaje:</strong> {{ tiempo_ensamblaje }}</p>
        <p><strong>Número de Componentes:</strong> {{ componentes }}</p>
        <p><strong>Número de Líneas de Ensamblaje:</strong> {{ lineas }}</p>
    </div>
    {% endif %}

    <form method="post" action="/seleccionar-producto">
        <label for="producto">Seleccionar Producto:</label>
        <select name="producto" id="producto">
            <option value="">Seleccione un producto</option>
            {{ productos_html | safe }}
        </select>
        <input type="hidden" name="maquina" value="{{ maquina_seleccionada }}">
        <button type="submit">Seleccionar Producto</button>
    </form>
</body>
</html>
