<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Ensamblaje</title>
</head>
<body>
    <h1>Producto: {{ producto }}</h1>
    <h2>{{ resultado }}</h2>

    <table border="1">
        <tr>
            <th>Tiempo</th>
            {% for i in range(1, maquina.lineas + 1) %}
                <th>Línea {{ i }}</th>
            {% endfor %}
        </tr>
        {% for nodo in tabla.primero %}
            <tr>
                <td>{{ nodo.tiempo }}</td>
                {% for accion in nodo.lineas %}
                    <td>{{ accion }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    

    <a href="/">Volver a la página principal</a>
</body>
</html>